#google_translate_element{
 text-align:left;  
}
body{
  background-color: #a0c5cf;
 text-align:center;
}
#prince{
background-color: #a0c5cf;
text-align: left;
}
p{
  text-indent: 80px;
}
#nav{
  float: right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #005f89;
}
li{
display:inline;
    float:right;
}
li a{
 display: block;
 background-color:#005f89;
      display: block;
    color: white;
    text-align: right;
    padding: 10px 15px;
    text-decoration:none;
}
a:hover{
 color: #e6eceb;   
}
#giocontact{
 float: left;
}
#hoangcontact{
 float: left;
}

#noahcontact{
 float: left; 
}
#Johannacontact {
}
#arthurcontact{

}
