      
body{
    bakground: #a0c5cf;   
}

#nav{
  float: right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #005f89;
}
li{
display:inline;
    float:right;
}
li a{
 display: block;
 background-color:#005f89;
      display: block;
    color: white;
    text-align: right;
    padding: 10px 14px;
    text-decoration:none;
}
a:hover{
 color: #e6eceb;   
}
h1{
  float: center;
}
#all{
      display: inline-block;
}
